# dependencies
node_modules/

# build output
dist/
dist-ssr/
*.tsbuildinfo

# amplify
amplify/.amplify/
amplify_outputs.json
.amplify/

# env / secrets
.env
.env.*

# editor / os
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.local

# logs
*.log
npm-debug.log*


# amplify
node_modules
.amplify
amplify_outputs*
amplifyconfiguration*
